@font-face {
  font-family: OstrichSansBlack;
  src: local(OstrichSansBlack), url("../fonts/OstrichSansBlack.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: UbuntuL;
  src: url("../fonts/UbuntuL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;;
}

@font-face {
  font-family: UbuntuM;
  src: url("../fonts/UbuntuM.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  margin:0px;
  background-color: #f0f0f5;
}

#gallery {
  background-color: #0a0a0f;
}

#maintable {
  width: 100%;
}

.maptable {
  width: 100%;
}

#gallerytable {
  width: 100%;
}

#gallerytable td {
  padding: 8px;
  text-align: center;
  font-family: UbuntuM, sans-serif;
  color: #8585ad;
}

.maptable td {
  padding: 15px;
}

.colortr {
  background-color: #d1d1e0;
}

.colortr2 {
  background-color: #e1e1ea;
}

td,th {
  border: 0px;
  padding: 0px;
}

#logoimg {
  width:175px;
  height:50px;
  float: left;
}

#header {
  background-color: #f0f0f5;
  float: right;
  border-radius: 5px;
}

.navbar {
  font-family: UbuntuM, sans-serif;
  font-size: 20px;
  background-color: #f0f0f5;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}

.navli {
  float: left;
}

li a {
  text-align: center;
  display: block;
  color: black;
  text-decoration: none;
  padding: 18px 20px;
}

a {
  color:inherit;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #47476b;
  color: #f0f0f5;
  animation-name: navani;
  animation-duration: 1s;
  animation-delay: 0s;
  position: relative;
  border-radius: 5px;
}

@-webkit-keyframes navani {
  0%   {background-color:aliceblue; left:0px; top:0px;}
  25%  {left:0px; top:5px;}
  50%  {left:0px; top:0px;}
  75%  {left:0px; top:5px;}
  100%  {left:0px; top:0px;}
}

@keyframes navani {
  0%   {background-color:aliceblue; left:0px; top:0px;}
  25%  {left:0px; top:5px;}
  50%  {left:0px; top:0px;}
  75%  {left:0px; top:5px;}
  100%  {left:0px; top:0px;}
}

.active {
  background-color: #e6ccff;
  border-radius: 5px;
}

#cover {
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
}

#part1 {
  background-color: #47476b;
  height: 300px;
}

#part1img {
  border-radius: 8px;
  max-width: 50%;
  height: inherit;
  float: left;
}

.partintext {
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
}

#part2img {
  border-radius: 8px;
  max-width: 50%;
  height: inherit;
  float: right;
}

#part2 {
  background-color: #f0f0f5;
  height: 300px;
  text-align:center;
}

.heading1 {
  font-family: OstrichSansBlack, sans-serif;
  font-size: 35px;
  color: #ffffff;
}

.content1 {
  font-family: UbuntuL, sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.sbutton {
  background-color: #e6ccff;
  border: none;
  color: #47476b;
  font-family: OstrichSansBlack, sans-serif;
  text-align:center;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}

.sbutton:hover {
  background-color: #47476b;
  border: none;
  color: #e6ccff;
  font-family: OstrichSansBlack, sans-serif;
  text-align:center;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}

.heading2 {
  font-family: OstrichSansBlack, sans-serif;
  font-size: 35px;
  color: #47476b;
  text-align: center;
}

.content2 {
  font-family: UbuntuL, sans-serif;
  font-size: 20px;
  color: #47476b;
  text-align: center;
}

.cheading {
  font-family: OstrichSansBlack, sans-serif;
  font-size: 55px;
  color: #47476b;
  text-align: center;
}

.gallheading {
  font-family: OstrichSansBlack, sans-serif;
  font-size: 55px;
  color: #8585ad;
  text-align: center;
}

.ccontent {
  font-family: UbuntuL, sans-serif;
  font-size: 20px;
  color: #47476b;
  text-align: center;
}

figcaption {
  display: block;
}

.galleryimg {
  width: 100%;
  height: inherit;

  border: 1px solid #47476b;
  border-radius: 4px;
  padding: 5px;
}

footer {
  background-color: #1a1a1a;
  height:auto;
}

.subcontent {
  font-family: UbuntuL, sans-serif;
  font-size: 20px;
  color: #47476b;
}

#sitemap {
  color: white;
  font-family: UbuntuL, sans-serif;
  font-size: 15px;
}

#footertext {
  text-align: center;
  color: white;
  font-family: UbuntuL, sans-serif;
}

.sliderdiv img {
  width: 100%;
  height: 600px;
}

.sliderdiv {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #1a1a1a;
}

.sliderdiv .btn1,.btn2,.btns1,.btns2,.count {
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  opacity: 0.7;
}

.sliderdiv .btn1,.btn2 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}

.sliderdiv .btn1:hover,.btn2:hover,.btns1:hover,.btns2:hover {
  background-color: #555;
}

.sliderdiv .btn1 {
  margin-left: -47%;
}

.sliderdiv .btn2 {
  margin-left: 47%;
}

.sliderdiv .btns1 {
  position: absolute;
  margin-left: 7%;
  top: 95%;
  left: 50%;
}

.sliderdiv .btns2 {
  position: absolute;
  margin-left: -7%;
  top: 95%;
  left: 50%;
}

.sliderdiv .count {
  position: absolute;
  margin-left: -46%;
  top: 2%;
  left: 50%;
}
